@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

a:link {
    color: #07a;
}
a:visited {
    color: #07a;
}

html {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 18px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    margin-bottom: 6px;
}

body {
    margin: 10px auto;
    max-width: 670px;
    line-height: 1.6;
    color: #444;
    padding: 0;
}

header {
    text-align: center;
}
header p {
    margin: 4px auto;
}
header .logo-wrapper {
    line-height: 0;
}

nav {
    text-align: center;
}
nav ul {
    font-size: 0;
    padding: 0;
}
nav ul li {
    font-size: 18px;
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #aaa;
}
nav ul li:last-child {
    border-right: 0;
}

#content {
    padding: 0 15px;
    padding-bottom: 50px;
}

/*** records.html ***/

#records-2017, #records-2016, #records-2015, #records-2014, #records-2013,
#records-2012, #records-2011, #records-2010, #records-2009, #records-2008,
#records-2007, #records-2006, #records-2005 {
    display: none;
}

#tab-2017:checked ~ #records-2017,
#tab-2016:checked ~ #records-2016,
#tab-2015:checked ~ #records-2015,
#tab-2014:checked ~ #records-2014,
#tab-2013:checked ~ #records-2013,
#tab-2012:checked ~ #records-2012,
#tab-2011:checked ~ #records-2011,
#tab-2010:checked ~ #records-2010,
#tab-2009:checked ~ #records-2009,
#tab-2008:checked ~ #records-2008,
#tab-2007:checked ~ #records-2007,
#tab-2006:checked ~ #records-2006,
#tab-2005:checked ~ #records-2005 {
    display: block;
}

table.prize-table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

table.prize-table tr {
    border: 1px solid black;
}

table.prize-table th, table.prize-table td {
    border: 1px solid black;
    padding: 2px 10px;
    font-size: 0.9rem;
}

table.prize-table th:first-child,
table.prize-table td:first-child {
    width: 10%;
    text-align: center;
}

/*** apply.html ***/

#apply-form-iframe {
    width: 95%;
    height: 600px;
    margin: 30px auto;
    border: 0;
    display: block;
}
