@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

a:link {
    color: #07a;
}
a:visited {
    color: #07a;
}

* {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
    margin-bottom: 6px;
}

body {
    margin: 10px auto;
    max-width: 670px;
    line-height: 1.6;
    color: #444;
    font-size: 18px;
    padding: 0;
}

header {
    text-align: center;
}
header p {
    margin: 4px auto;
}
header .logo-wrapper {
    line-height: 0;
}

nav {
    text-align: center;
}
nav ul {
    font-size: 0;
    padding: 0;
}
nav ul li {
    font-size: 18px;
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #aaa;
}
nav ul li:last-child {
    border-right: 0;
}

#content {
    padding: 0 15px;
    padding-bottom: 50px;
}

/*** records.html ***/

#records-2017, #records-2016, #records-2015, #records-2014, #records-2013,
#records-2012, #records-2011, #records-2010 {
    display: none;
}

#tab-2017:checked ~ #records-2017,
#tab-2016:checked ~ #records-2016,
#tab-2015:checked ~ #records-2015,
#tab-2014:checked ~ #records-2014,
#tab-2013:checked ~ #records-2013,
#tab-2012:checked ~ #records-2012,
#tab-2011:checked ~ #records-2011,
#tab-2010:checked ~ #records-2010 {
    display: block;
}
